@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Fraunces', serif;


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

:root {
	--clr-primary-dark-cyan: hsl(158, 36%, 37%);
	--clr-primary-very-dark-cyan: hsl(158, 36%, 20%);
	--clr-primary-cream: hsl(30, 38%, 92%);
	--clr-neutral-very-dark-blue: hsl(212, 21%, 14%);
	--clr-neutral-dark-grayish-blue: hsl(228, 12%, 48%);
	--clr-neutral-white: #fff;
}

$mediaMinWidth_desktop: 768px;

body {
	font-family: 'Montserrat', sans-serif;
	background: var(--clr-primary-cream);
}

.container {
	position: relative;
	width: 100%;
	min-width: 375px;
	max-width: 375px;
	margin-inline: auto;

	@media screen and (min-width: $mediaMinWidth_desktop) {
		max-width: 1440px;
		padding-inline: 5em;
	}
}

.card {
	border-radius: 1em;
	overflow: hidden;
	background: var(--clr-neutral-white);
	margin: 0.5rem auto;

	&__text-content {
		padding: 1.25em;
	}

	&__img-desktop {
		display: none;
	}


	@media screen and (min-width: $mediaMinWidth_desktop) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5em;
		width: 600px;

		&__img-mobile {
			display: none;
		}

		&__img-desktop {
			display: unset;
			height: 100%;
			object-fit: cover;
		}
	}

	&__category-name {
		text-transform: uppercase;
		font-size: 0.9rem;
		letter-spacing: 0.25em;
		color: var(--clr-neutral-dark-grayish-blue);
	}

	&__heading {
		line-height: 1;
		margin-block: 1rem;
		font-family: 'Fraunces', serif;
		font-size: 2.2rem;
	}

	&__description {
		line-height: 1.7;
		color: var(--clr-neutral-dark-grayish-blue);
		margin-bottom: 1.5rem;
	}

	&__prices {
		display: flex;
		align-items: center;
		gap: 1em;
	}

	&__new-price {
		font-family: 'Fraunces', serif;
		font-size: 2.2rem;
		color: var(--clr-primary-dark-cyan);
	}

	&__old-price {
		text-decoration: line-through;
		color: var(--clr-neutral-dark-grayish-blue);
		font-size: 0.9rem;
	}

	&__add-to-cart-button {
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--clr-primary-dark-cyan);
		color: var(--clr-neutral-white);
		font-weight: bold;
		border: none;
		border-radius: 0.5em;
		padding: 1em 1.5em;
		margin-top: 1.8em;
		width: 100%;

		&:hover {
			cursor: pointer;
			background: var(--clr-primary-very-dark-cyan);
		}
	}



}

footer {
	font-size: 0.6rem;
	text-align: center;
	margin-block: 1.5rem;

	a {
		color: blue;

		&:hover {
			text-decoration: underline;
		}
	}
}